<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <CustomLevels>
        <CustomLevel name="COMPLETED" intLevel="250" />
        <CustomLevel name="FAILED" intLevel="250" />
        <CustomLevel name="PASSED" intLevel="250" />
        <CustomLevel name="PENDING" intLevel="250" />
    </CustomLevels>
    <!-- Logging Properties -->
    <Properties>
        <Property name="APP_LOG_ROOT">c:/tmp</Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} [%logger{36}] %-5level : %msg%n%throwable"/>
        </Console>

        <!-- File Appenders on need basis -->
        <RollingFile name="Test" fileName="${sys:logFilenameTest}"
                     filePattern="${APP_LOG_ROOT}/TestLog-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} [%logger{36}] %-5level : %msg%n%throwable"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- File Appenders on need basis -->
        <RollingFile name="Evidences" fileName="${sys:logFilenameEvidences}"
                     filePattern="${APP_LOG_ROOT}/Evidences-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} [%logger{36}] %-5level : %msg%n%throwable"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- File Appenders on need basis -->
        <RollingFile name="Business" fileName="${sys:logFilenameBusiness}"
                     filePattern="${APP_LOG_ROOT}/Business-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} [%logger{36}] %-5level : %msg%n%throwable"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="Test" additivity="false" level="info">
            <AppenderRef ref="Test"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="Evidences" additivity="false" level="info">
            <AppenderRef ref="Evidences"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="Business" additivity="false" level="info">
            <AppenderRef ref="Business"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>